@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');


:root  {
    --background: rgba(230, 236, 176, 0.65);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Mukta', sans-serif; 
    background: #222;
    font-weight: 400;
    min-width: 400px;
    flex-shrink: 0;
}

header {
    background: var(--background);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    justify-content: center;
    
}

header img {
       max-width: 30%;
       margin: 2px auto;
}

.nav-button {
    display: none;
}

.nav-button-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-button-label span,
.nav-button-label span::before,
.nav-button-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-button-label span::before,
.nav-button-label span::after {
    content: '';
    position: absolute;
}

.nav-button-label span::before {
    bottom: 7px;
}

.nav-button-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top; 
    transition: transform 400ms  ease-in-out; 
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: rgb(56, 49, 49);
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #000;
}

.nav-button:checked ~ nav {
    transform: scale(1, 1);
}

.nav-button:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.description {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: bolder;
    line-height: 1.2;
}

.content {
    height: auto;
    background-image: url(/images/signclose.jpg); 
    background-color: rgb(75, 73, 73);
    background-blend-mode: multiply;
    background-size: cover;   
    padding-top: 53px;
    color: black;      
    line-height: 1.4;
    display: block;    
}



img {
    height:auto;
    width: 100%;
    display: flex;
    max-width: 900px;
}

.tray {
    background-color:rgb(206, 212, 195);
    width: 90%;
    max-width: 850px;
    display: flex;
    margin: 5px auto;
    border-radius: 10px;
    padding: 10px;
}

footer {
    font-size: .7em;
    padding: 5px;
    background: var(--background);
    justify-content: center;
    display: flex;
    flex-shrink: 0;
    }

    h2 {
        font-size: 36px;
        margin: 0px;
    }


/*--------------MEDIA CHANGE--------------------------------*/
/*----------------------------------------------------------*/

    @media screen and (min-width: 800px) {
        .nav-button-label {
            display: none;
            }

        header {
            display: grid;
            grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
            }

        header img {
            margin: 2px 10px;
            max-width:fit-content;
        }

        nav {
            all: unset;
            grid-column: 3 / 4;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            }

        nav a {
            opacity: 1;
            position: relative;
            }

        nav a::before {
            content: '';
            display: block;
            height: 5px;
            background: black;
            position: absolute;  
            bottom: -.75em;    
            left: 0;
            right: 0;  
            transform: scale(0, 1);
            transition: transform ease-in-out 250ms;
            }

        nav a:hover::before {
            transform: scale(1,1);
            }

        nav ul {
            display: flex;
            justify-content: flex-end;        
            }

        nav li {
            margin-left: 3em;
            margin-bottom: 0;
            }

        .content {
            height: 100vh;
            background-image: url(/images/signclose.jpg); 
            background-color: #333;
            background-size: cover;
            color: black;
            display: block;;
            }   

        .img {
            display: flex;
            justify-content: center;
        }

            
        footer {
            font-size: .7em;
            padding: 5px;
            background: var(--background);
            justify-content: center;
            display: flex;
            }
            
}   